/******BASE STYLES******/

body{
    font-family: 'Source Sans Pro', sans-serif;
    color: #ceedf0;
    margin: 0;
}



/*****GRID STYLES*****/
.full-width{
    width: 1200px;
    margin: 0 auto;
    overflow: auto;
}

.half-width{
    width: 600px;
    float: left;
}

.third-width{
    width: 400px;
    float: left;
    
}
/****HEADER STYLES*****/

header{
    height: 800px;
   
}

.background-image{
    background: url(/starter-code/img/codingbg-5.jpg);
    background-size: cover;
    background-position: center;
    height: 800px;
}

header h1{
    padding: 5px 0 35px 25px;
    margin-top: 50px;
    width: 250px;
    height: 10px;
    font-family: 'Lora', serif;
    color: #ceedf0;
    font-size: 30px;
}

nav{
    float: right;
    padding: 75px 25px;
}

nav ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    padding: 0;
}

nav ul li a{
    text-transform: uppercase ;
    color: #ceedf0;
    font-size: 18px;
    text-decoration: none;
    padding: 20px;
    border-radius: 10%;
}

nav ul li a:hover{
    background-color: #04051a;
    transition: ease-in-out;
    transition-duration: 0.5s;
}

header h2{
    font-family: 'Lora', serif;
    color: #ceedf0;
    font-size: 56px;
    line-height: 80px;
    width: 1000px;
    clear: both;
    padding: 20px 0px 20px 25px;
    background-color: rgba(5, 5, 5, 0.8);
    border-radius: 24px;
}

header h2 span{
    color: #ceedf0;
}

/****ABOUT STYLES****/
#about{
    background-color: #04051a;
}

#about .full-width{
    padding: 80px 0;
}

#about h2{
    font-family: 'Lora', serif;
    color: #ceedf0;
    font-size: 36px;
    padding-left: 50px;
}

#about p{
    color: #ceedf0;
    font-size: 21px;
    line-height: 40px;
    padding-left: 50px;
    padding-right: 50px;
}

/*****WORK SECTION STYLES*****/
#work{
    background-color: #04051a;
    text-align: center;
}
#work .full-width{
    padding: 115px 0;
}

#work img{
    padding-bottom: 30px;
}

#work h3{
    font-size: 24px ;
    line-height: 32px ;
    margin: 0 auto;
    width: 190px;
    
}

#work p{
    font-family:'Lora', serif;
    font-size: 18px;
    line-height: 30px;
    padding: 0 50px;
}

/******CONTACT SECTION STYLES*****/
#contact{
    background-color: #04051a;
}

#contact .full-width{
    padding: 110px 0;
}

#contact img#contact-img{
    margin-left: 25px;
    border: 12px solid #ffffff;
}

#contact h2, #contact #email-header, #contact #socialmedia-header, #contact ul{
    padding-left: 115px;
}

#contact #envelope{
    padding: 0 10px 0 115px;
}

#contact #codingimg{
    border: 2px solid white;
    width: max-content;
}

#contact h2{
    font-family: 'Lora', serif ;
    font-size: 36px;
    line-height: 44px;
}

#contact #email-header{
    font-size: 32px ;
    font-weight: 400;
    line-height: 44px ;
    margin: -30px 0 5px 0;
}

#contact #socialmedia-header{
    font-weight: bold;
    font-size: 29px;
    line-height: 44px;
    margin: 40px 0 0 0;
}

#contact a{
    text-decoration: none;
    color:#ceedf0 ;
    font-weight: bold;
    font-size: 28px;
}

#contact ul{
    list-style: none;
}

#contact ul li{
    display: inline-block;
}

#contact ul img {
    font-size: 32px;
    margin: 20px ;
}